/*
===============
config
=============== */

$max-width:				1190px;
$font-color:			#ffffff;

$font-size:				16px;
$line-height:			20px;

$font-size-lg:          20px;
$line-height-lg:        22px;

$font-size-md:          18px;
$line-height-md:        20px;

$font-size-sm:			14px;
$line-height-sm:		16px;