/*
===============
mixins
=============== */

@mixin debug {
  border: thin solid #1EAEDB;
}

@mixin box-shadow {
  -webkit-box-shadow: 7px 9px 10px -3px rgba(140,136,140,1);
  -moz-box-shadow: 7px 9px 10px -3px rgba(140,136,140,1);
  box-shadow: 7px 9px 10px -3px rgba(140,136,140,1);
}

@mixin inline-block {
  display:-moz-inline-stack;
  display:inline-block;
  zoom:1;
  *display:inline;
}

@mixin gradient-bg {
  background: #f8efe0;
  background: -moz-linear-gradient(top, #f8efe0 0%, #d5a951 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8efe0), color-stop(100%, #d5a951));
  background: -webkit-linear-gradient(top, #f8efe0 0%, #d5a951 100%);
  background: -o-linear-gradient(top, #f8efe0 0%, #d5a951 100%);
  background: -ms-linear-gradient(top, #f8efe0 0%, #d5a951 100%);
  background: linear-gradient(top, #f8efe0 0%, #d5a951 100%);
}

@mixin responsive-img {
  width: 100%;
  height: auto;
}