/*
===============
mixins
=============== */

@mixin box-shadow {
  -webkit-box-shadow: 7px 9px 10px -3px rgba(140,136,140,1);
  -moz-box-shadow: 7px 9px 10px -3px rgba(140,136,140,1);
  box-shadow: 7px 9px 10px -3px rgba(140,136,140,1);
}


@mixin debug {
  border: thin solid #FF0000; /* red */
}
@mixin debug1 {
  border: thin solid #7FFF00; /* neon green */
}
@mixin debug2 {
  border: thin solid #FF1493; /* deep pink */
}
@mixin debug3 {
  border: thin solid #FFA500; /* orange */
}
@mixin debug4 {
  border: thin solid #9932CC; /* purple */
}
@mixin debug5 {
  border: thin solid #00FFFF; /* sky blue */
}

@mixin google-maps {
  .google-maps {
    position: relative;
    padding-bottom: 75%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
  }
  .google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }
}

@mixin gradient-bg {
  background: #f8efe0;
  background: -moz-linear-gradient(top, #f8efe0 0%, #d5a951 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8efe0), color-stop(100%, #d5a951));
  background: -webkit-linear-gradient(top, #f8efe0 0%, #d5a951 100%);
  background: -o-linear-gradient(top, #f8efe0 0%, #d5a951 100%);
  background: -ms-linear-gradient(top, #f8efe0 0%, #d5a951 100%);
  background: linear-gradient(top, #f8efe0 0%, #d5a951 100%);
}

@mixin inline-block {
  display:-moz-inline-stack;
  display:inline-block;
  zoom:1;
  *display:inline;
}

@mixin list-blocks($class:list_blocks) {
  ul.#{$class} {
    list-style-type: none;
    margin: 40px 0 55px 0;
    padding: 0;
  }

  ul.#{$class} li {
    max-width: 225px;
    width: 100%;
    margin: 0 4px;
    @include inline-block();

    &:last-child {
      margin-right:0;
    }
  }
}

@mixin no-space {
  font-size:0;
  line-height:0;
  letter-spacing: 0;
}

@mixin responsive-img {
  width: 100%;
  height: auto;
}

@mixin transition-delay {
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
  -ms-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}