/*
===============
Style
=============== */

._center {
  text-align:center;
}

body {
  font-family: $font-stack;

  a {
    color: $link-color;
  }

  h1 {
    font-size: $font-size-lg;
    line-height: $line-height-lg;
  }

  h2 {
    font-size: $font-size-md;
    line-height: $line-height-md;
  }

  img {
    @include responsive-img;
  }

  #content_body {
    max-width: $max-width;
    margin: auto;

    @include debug;
  }
}