/*
===============
Style
=============== */

._clear {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

body {
  font-family: $font-stack;
  font-size: $font-size;
  color: $font-color;
  line-height: $line-height;

  a {
    color: $link-color;
    text-decoration: none;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: $font-stack-2;
    margin:0;
    padding:0;
  }

    h1 {
      font-size: $font-size-lg;
      line-height: $line-height-lg;
    }

    h2 {
      font-size: $font-size-md;
      line-height: $line-height-md;
    }

  img {
    @include responsive-img;
  }

  //head
  header {
    //nav
    nav {
      max-width: $max-width;
      margin:auto;
      width:100%;
      text-align: center;
      @include debug2;

      .current-menu-parent>a, .current-menu-item a {
        color: $secondary-color;
      }
    }

    nav ul {
      margin: 0 auto;
      padding:0;
      max-width: $menu-max-width;
      width:100%;
      @include debug5;
      line-height: 40px;
    }

    nav ul li {
      margin: 0;
      @include inline-block;
      position: relative;
    }

    nav ul li a {
      @include inline-block;
      line-height: $line-height;
      padding:  0 15px;
      color: $link-color;
      text-decoration: none;
    }

    nav ul li a:hover {
      cursor: pointer;
      background-color: $primary-color;
    }

    /*sub menu*/
    nav ul ul {
      opacity: 0;
      filter: alpha(opacity=0);
      width: $sub-menu-max-width;
      position: absolute;
      top:100%;
      left: 0;
      z-index: 999999;
      height: 0px;
      overflow: hidden;
      min-width: 100%;
      padding: 10px 5px;


      -webkit-transition: opacity 0.4s ease-out;
      -moz-transition: opacity 0.4s ease-out;
      -o-transition: opacity 0.4s ease-out;
      -ms-transition: opacity 0.4s ease-out;
      transition: opacity 0.4s ease-out;

      @include box-shadow;
    }

    nav ul li span {
      display: none;
      width:100%;
    }

    nav ul li:hover ul {
      opacity: 10;
      filter: alpha(opacity=100);
      height: auto;
      overflow: auto;
      display: block;
    }

    nav ul ul li {
      float: none;

    }

    nav ul ul li a {
      display: block;
      line-height: $line-height;
      text-transform: none;
      position: relative;
      z-index: 999999;
    }

    nav ul li:hover > a {
      background: $primary-color;
    }
  }

  //main
  main {
    max-width: $max-width;
    margin: auto;

    @include debug;
  }

  //footer
  footer {
    text-align: center;
  }
}