/*
===============
Style
=============== */

._center {
  text-align:center;
}

._clear {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

body {
  font-family: $font-stack;
  font-size: $font-size;
  line-height: $line-height;

  a {
    color: $link-color;
    text-decoration: none;
  }

  h1 {
    font-size: $font-size-lg;
    line-height: $line-height-lg;
  }

  h2 {
    font-size: $font-size-md;
    line-height: $line-height-md;
  }

  img {
    @include responsive-img;
  }

  main {
    max-width: $max-width;
    margin: auto;

    @include debug;
  }

  footer {
    text-align: center;
  }
}