/*
===============
Style
=============== */

._clear {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

body {

  //reset skeleton
  font-family: $font-stack;
  font-size: $font-size-origin;
  line-height: $line-height-origin;
  color: $font-color;

  a, a:hover {
    font-size: $font-size;
    color: $link-color;
    text-decoration: none;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: $font-stack;
    margin:0;
    padding:0;
    letter-spacing:0;
  }

  h1 {
    font-size: $font-size-lg;
    line-height: $line-height-lg;
  }

  h2 {
    font-size: $font-size-md;
    line-height: $line-height-md;
  }

  h3 {
    font-size: 1.05em;
    line-height: 1em;
  }

  h1 + table, h2 + table, h3 + table {
    margin-top: -15px;
  }

  p + table {
    margin-top: -25px;
  }

  hr {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  img {
    @include responsive-img;
  }


  input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="text"]:focus, input[type="tel"]:focus, input[type="url"]:focus, input[type="password"]:focus, textarea:focus, select:focus {
    border-color: $secondary-color;
  }

  input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"], textarea, select {
    color: $primary-color;
  }

  input, textarea, select, fieldset {
    margin-bottom: 1em;
  }

  ol {
    li {
      margin: 0 5px;
    }
  }

  pre, blockquote, dl, figure, table, p, ul, ol, form {
    margin-bottom: 1em;
  }

  ul {
    list-style: disc;
    li {
      margin: 0 20px;
    }
  }

  /* contactform7 */
  .ajax-loader {
    max-width: 16px;
  }

  span.wpcf7-not-valid-tip {
    color: #590000;
  }



  //head
  header {
    text-align:center;

    //nav
    nav {
      max-width: $max-width;
      margin:auto;
      width:100%;
      text-align: center;
      background-color: $secondary-color;
      @include debug2;

      .current-menu-parent>a, .current_page_parent>a, .current-menu-item a {
        color: $primary-color;
        font-weight:bold;
      }
    }

    nav ul {
      margin: 0 auto;
      padding:0;
      max-width: $menu-max-width;
      width:100%;
      @include debug5;
      line-height: 40px;

      li {
        margin: 0;
        @include inline-block;
        position: relative;

        span {
          display: none;
          width:100%;
        }

        a {
          @include inline-block;
          padding:  0 15px;
          color: $secondary-color;
          text-decoration: none;
          transition: background-color 2s;

          &:hover {
            cursor: pointer;
            background-color: $primary-color;
            color: $ternary-color;
            font-weight:normal;
          }
        }

        &:hover {
          ul {
            opacity: 10;
            filter: alpha(opacity=100);
            height: auto;
            overflow: auto;
            display: block;
          }

          &> a {
            background: $primary-color;
          }
        }


        /* submenu */
        ul {
          opacity: 0;
          filter: alpha(opacity=0);
          width: $sub-menu-max-width;
          position: absolute;
          top:100%;
          left: 0;
          z-index: 999999;
          height: 0px;
          overflow: hidden;
          min-width: 100%;
          padding: 10px 5px;

          -webkit-transition: opacity 0.4s ease-out;
          -moz-transition: opacity 0.4s ease-out;
          -o-transition: opacity 0.4s ease-out;
          -ms-transition: opacity 0.4s ease-out;
          transition: opacity 0.4s ease-out;

          @include box-shadow;

          li {
            float: none;
            display:block;
            margin-bottom: 5px;

            a {
              display: block;
              line-height: $line-height;
              text-transform: none;
              position: relative;
              z-index: 999999;
            }
          }
        }
      }
    }
  }

  //main
  main {
    max-width: $max-width;
    margin: auto;

    @include debug;

    article {
      padding: 25px 10px;
    }
  }

  //footer
  footer {
    margin-top: 25px;
    text-align: center;
  }

  //404
  &.error404 {
    article {
      text-align:center;
    }
  }
}